html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

:root {
    /* colors */
    --main-color: beige;
    --secondary-color: rgb(179, 179, 179);

    /* fonts */
    --main-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    flex: auto;
    background: linear-gradient(
        to right,
        rgb(20, 20, 20),
        rgb(59, 92, 79)
    );
}

.main-container {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: start;
}

.image-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-image {
   max-height: 100%;
   width: auto;
   display: block;
}

.info {
    color: var(--main-color);
    padding: 4rem;
    font-family: var(--main-font);
    font-size: 28px;
}

.form-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--secondary-color);
    font-family: var(--main-font);
    font-size: 16px;
}

.form-row-container {
    display: flex;
    flex: auto;
    gap: 10rem;
    width: clamp(50%, 65%, 100%);
}

.input-node {
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 0.5rem;
}

.input-node > input {
    background-color: rgb(49, 49, 49);
    color: var(--main-color);
    border-radius: 1rem;
    border: var(--secondary-color) solid 1px;
    padding: 0.2rem 0.5rem;   
}

.input-node > input:hover {
    border-color: aliceblue;
}

.input-node > input:-webkit-autofill {
  -webkit-text-fill-color: var(--main-color);
  -webkit-box-shadow: 0 0 0px 40rem rgb(49, 49, 49) inset;
}

.submit-button {
    color: var(--main-color);
    background-color: rgb(50, 167, 50);
    font-family: var(--main-font);
    font-size: 16px;
    margin-top: 3rem;
    padding: 0.8rem;
    border: none;
    border-radius: 1rem;
    width: 15rem;
}

.submit-button:hover {
    transform: scale(1.02);
}

input:invalid {
    border-color: red;
}
